/* General Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color : white;
}

.line-separator {
    width: 70%;
    height: 1px;
    background-color: #ffffff;
    margin: 1rem auto;
}

/* Navbar Styles */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0B192C;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 50px;
}

.navbar-logo {
    align-items: center;
    display: flex;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.brand-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.navbar-links a:hover {
    color: #ff6347;
}

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.navbar-contact {
    padding-right: 1rem;
}

.navbar-contact a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar-contact a:hover {
    color: #ff6347;
}

/* Index Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.hero-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 80%;
    height: auto;
}

.hero {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-content {
    text-align: center;
    width: 80%;
}

.hero .hero-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero .hero-content .hero-text {
    margin-top: 0.5rem;
}

/* What Do Section */

.what-do {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mango-header {
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mango-header h2 {
    font-size: 2rem;
    font-weight: bold;
}

.what-do-content {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Asegura que todas las tarjetas tengan la misma altura */
    gap: 20px;
    padding: 0 5rem; /* Añade un espacio entre las tarjetas */
}

.cards {
    flex: 1; /* Permite que las tarjetas se expandan uniformemente */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido dentro de las tarjetas se distribuya uniformemente */
    width: 25%;
    height: auto;
    background-color: #1E3E62;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.cards img{
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.cards h3 {
    margin: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.cards p {
    margin: 0.3rem;
}

/* Our Works Section */

.our-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}	

.our-works-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.our-works-content img {
    width: 35%;
    height: auto;
}

.our-works-content p {
    width: 40%;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* About Us Section */

.about-us-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-content img {
    width: 40%;
    height: auto;
}

.section-title {
    display: flex;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.about-us-text{
    margin: 1rem;
    background-color: #1E3E62;
    border-radius: 10px;
    padding: 0.5rem;
}

.about-us-text h3 {
    font-size: 1.5rem;
}

.about-us-text ul {
    list-style-type: disc;
    padding-left: 20px; /* Optional: Adds some padding to align the bullets */
}

/* Contact Form Section*/

.bg-custom {
    background-color: #1E3E62;
}

.btn-custom {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #162d4a;
}